@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menu {
	.item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 20px;

		.title {
			color: $soft-color;
			font-size: 12px;
			font-weight: 200;
			text-transform: uppercase;

			@include lg {
				display: none;
			}
		}
		.listItem {
			align-items: center;
			border-radius: 5px;
			display: flex;
			gap: 10px;
			padding: 10px;

			&:hover {
				background-color: $soft-bg;
			}
			.listItemTitle {
				@include lg {
					display: none;
				}
			}	
		}
	}
}