@import "../../styles/responsive.scss";

.bigChartBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	h1 {
		@include xxl {
			font-size: 25px;
		}
	}
	.chart {
		height: 300px;
		width: 100%;
	}
}